# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://enixlllzmsvwxtrbibgh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_48FXvq6jAU7sEonNIlPvdg_yB0rLGZI
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_48FXvq6jAU7sEonNIlPvdg_yB0rLGZI

# Environment
NEXT_PUBLIC_ENV=development
